@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Oswald:wght@600&display=swap');
body{
    background-color: black;
    color: white;
    font-family: 'Iceland', cursive;
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

h1{
    text-align: center;
}

section{
    display: flex;
   flex-direction: column;
    position: relative;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;


}



.show{
    opacity: 1;
    
} 


.navigation{
    position: fixed;
    top: 20px;
    left: 20px;
    bottom: 20px;
    width: 3 00px;
    border-radius: 10px;
    padding-inline: 20px;

}